export PORT=5555
export NODE_ENV=development
export DATABASE_URL=postgres://$USER:@localhost:5432/darksky-ifttt-service
export TEST_DATABASE_URL=postgres://$USER:@localhost:5432/darksky-ifttt-service-test
export DARK_SKY_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export DARK_SKY_LAT=40.7128
export DARK_SKY_LNG=74.0060
export DARK_SKY_API_HOST=api.darksky.net
export DARK_SKY_API_PORT=443
